@model IEnumerable<Passion_Project.Models.AnimeDto>
@{
    ViewBag.Title = "MyAnime";
}

<h2>Anime List</h2>
<div style="display:flex; flex-wrap: wrap;">
    @foreach (var Anime in Model)
    {
        string imageurl = "/Content/Images/Animes/default.jpg";
        if (Anime.AnimeHasPic)
        {
            imageurl = "/Content/Images/Animes/" + Anime.AnimeID + "." + Anime.PicExtension;
        }
    
        <a href="/Anime/Details/@Anime.AnimeID"><img src="@imageurl" width="250"/></a>
    }
</div>