@model IEnumerable<Passion_Project.Models.MemberDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Member/New">New Member</a>
@foreach (var Member in Model)
{
    <h2><a href="/Member/Details/@Member.MemberID">@Member.FirstName @Member.LastName</a></h2>
}