@model IEnumerable<Passion_Project.Models.ReviewDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Review/New">New Review</a>
@foreach (var Review in Model)
{
    <h2><a href="/Review/Details/@Review.ReviewID">@Review.Rating by @Review.FirstName @Review.LastName</a></h2>
}